.welcome-page {
  color: #ffffff;
  background-color: #663300;
  background-image: url("https://i.ibb.co/6JT8BXd/akshay-chauhan-t-J8-VGRq-EUDg-unsplash-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.welcome-page__inner {
  text-align: center;
  padding-top: 50px;
}

.welcome-page__link {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}
