.nominate-list__header {
  display: flex;
  align-items: center;
  position: relative;
  svg {
    fill: #ff9900;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.nominate-list__item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.nominate-list__poster {
  margin-right: 10px;
  width: 50px;
  overflow: hidden;
}

.nominate-list__img {
  width: auto;
  height: 60px;
}

.nominate-list__movie-info {
  width: 90%;
}

.nominate-list__btn {
  background-color: transparent;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 0;
  cursor: pointer;

  svg {
    fill: #737373;
  }
}

.nominate-list__count {
  font-size: 12px;
  position: absolute;
  top: 35%;
  left: 3.4%;
}

@media screen and (max-width: 768px) {
  .nominate-list__count {
    left: 4%;
  }
}
